.grid-container {
  
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.grid-item {
  background-color: grey;
  border: 1px solid black;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.head {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: grey;
#me {
  background-image: url("me_close_up_bw.jpg");
  border-radius:50%;
  width: 30%;
  }
#me:hover {
  background-image: url("me_close_up.jpg");
}
}
.body {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  background-color: grey;
}

.sidebar {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  background-color: grey;
  
  .circle {
    width:70%;
    padding:35% 0;
    border-radius:50%;
    text-align:center;
    line-height:0;
    position:relative;
    margin: 10px auto;
    background: darkgrey;
    color: white;
    cursor: pointer;
    transition: background .5s, transform 0.3s 0.5s;
    position: relative;
  }
  
  .circle:hover {
    background: salmon;
    // transform: rotate(360deg);
  }
}

.footer {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    background-color: grey;
}